# 타이타닉
데이터
--
https://goo.gl/2He52F


## 속성 데이터

- Survival - 생존여부: 0 = No, 1 = Yes
- Pclass - 티켓 등급: 1 = 1st, 2 = 2nd, 3 = 3rd
- Sex - 성별: male, female
- Age - 나이
- SibSp - 동승한 형제, 배우자 수
- Parch - 부모와 자녀의 수
- Ticket - 티켓 번호
- Fare - 승선 요금
- Cabin - 캐빈(객실) 번호
- Embarked - 승선한 항구: C = Cherbourg, Q = Queenstown, S = Southampton

In [32]:
import pandas as pd

train = pd.read_csv("./data/titanic_train.csv", index_col=["PassengerId"])
print(train.shape)
train.head()

(891, 11)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
train.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [34]:
test = pd.read_csv("./data/titanic_test.csv", index_col=["PassengerId"])

print(test.shape)
test.head()

(418, 10)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [35]:
test.columns

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked'],
      dtype='object')

In [36]:
# 성별을 구분하는 컬럼을 추가해본다

train.loc[train["Sex"] == "male", "Sex_encode"] = 0
train.loc[train["Sex"] == "female", "Sex_encode"] = 1

print(train.shape)
train[["Sex", "Sex_encode"]].head()

(891, 12)

                Sex  Sex_encode
PassengerId
1              male         0.0
2            female         1.0
3            female         1.0
4            female         1.0
5              male         0.0

In [37]:
test.loc[test["Sex"] == "male", "Sex_encode"] = 0
test.loc[test["Sex"] == "female", "Sex_encode"] = 1
        
print(test.shape)
test[["Sex", "Sex_encode"]].head()

(418, 11)

                Sex  Sex_encode
PassengerId
892            male         0.0
893          female         1.0
894            male         0.0
895            male         0.0
896          female         1.0

In [38]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   Name        891 non-null    object
 3   Sex         891 non-null    object
 4   Age         714 non-null    float64
 5   SibSp       891 non-null    int64
 6   Parch       891 non-null    int64
 7   Ticket      891 non-null    object
 8   Fare        891 non-null    float64
 9   Cabin       204 non-null    object
 10  Embarked    889 non-null    object
 11  Sex_encode  891 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 90.5+ KB

In [39]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      418 non-null    int64
 1   Name        418 non-null    object
 2   Sex         418 non-null    object
 3   Age         332 non-null    float64
 4   SibSp       418 non-null    int64
 5   Parch       418 non-null    int64
 6   Ticket      418 non-null    object
 7   Fare        417 non-null    float64
 8   Cabin       91 non-null     object
 9   Embarked    418 non-null    object
 10  Sex_encode  418 non-null    float64
dtypes: float64(3), int64(3), object(5)
memory usage: 39.2+ KB

## 요금이 비어 있는 항목을 찾아본다

In [40]:
test[pd.isnull(test["Fare"])]

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_encode
PassengerId,,,,,,,,,,,
1044,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S,0.0

In [41]:
# 비어 있는 요금 항목을, 요금의 평균치로 대체한다
mean_fare = train["Fare"].mean()
print("Fare(Mean) = ${0:.3f}".format(mean_fare))

Fare(Mean) = $32.204

In [42]:
test.loc[pd.isnull(test["Fare"]), "Fare"] = mean_fare

test[pd.isnull(test["Fare"])]

Empty DataFrame
Columns: [Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Sex_encode]
Index: []

### Encode Embarked

In [43]:
train.shape

(891, 12)

In [44]:
train_embarked = pd.get_dummies(train["Embarked"], prefix="Embarked")

print(train_embarked.shape)
train_embarked.head()

(891, 3)

             Embarked_C  Embarked_Q  Embarked_S
PassengerId
1                     0           0           1
2                     1           0           0
3                     0           0           1
4                     0           0           1
5                     0           0           1

In [45]:
test_embarked = pd.get_dummies(test["Embarked"], prefix="Embarked")

print(test_embarked.shape)
test_embarked.head()

(418, 3)

             Embarked_C  Embarked_Q  Embarked_S
PassengerId
892                   0           1           0
893                   0           0           1
894                   0           1           0
895                   0           0           1
896                   0           0           1

In [46]:
train = pd.concat([train, train_embarked], axis=1)

print(train.shape)
train[["Embarked", "Embarked_C", "Embarked_Q", "Embarked_S"]].head()

(891, 15)

            Embarked  Embarked_C  Embarked_Q  Embarked_S
PassengerId
1                  S           0           0           1
2                  C           1           0           0
3                  S           0           0           1
4                  S           0           0           1
5                  S           0           0           1

In [47]:
test = pd.concat([test, test_embarked], axis=1)

print(test.shape)
test[["Embarked", "Embarked_C", "Embarked_Q", "Embarked_S"]].head()

(418, 14)

            Embarked  Embarked_C  Embarked_Q  Embarked_S
PassengerId
892                Q           0           1           0
893                S           0           0           1
894                Q           0           1           0
895                S           0           0           1
896                S           0           0           1

## Train

In [48]:
feature_names = ["Pclass", "Sex_encode", "Fare",
                 "Embarked_C", "Embarked_Q", "Embarked_S"]

X_train = train[feature_names]

print(X_train.shape)
X_train.head()

(891, 6)

             Pclass  Sex_encode     Fare  Embarked_C  Embarked_Q  Embarked_S
PassengerId
1                 3         0.0   7.2500           0           0           1
2                 1         1.0  71.2833           1           0           0
3                 3         1.0   7.9250           0           0           1
4                 1         1.0  53.1000           0           0           1
5                 3         0.0   8.0500           0           0           1

In [49]:
label_name = "Survived"

y_train = train[label_name]

print(y_train.shape)
y_train.head()

(891,)

PassengerId
1    0
2    1
3    1
4    1
5    0
Name: Survived, dtype: int64

In [50]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=5)

In [51]:
model.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=5)

In [52]:
from sklearn.tree import export_graphviz
import graphviz

export_graphviz(model,
                feature_names=feature_names,
                class_names=["Perish", "Survived"],
                out_file="decision-tree.dot")

with open("decision-tree.dot") as f:
    dot_graph = f.read()
    
graphviz.Source(dot_graph)

ExecutableNotFound: failed to execute ['dot', '-Kdot', '-Tsvg'], make sure the Graphviz executables are on your systems' PATH

## Predict

In [53]:
X_test = test[feature_names]

print(X_test.shape)
X_test.head()

(418, 6)

             Pclass  Sex_encode     Fare  Embarked_C  Embarked_Q  Embarked_S
PassengerId
892               3         0.0   7.8292           0           1           0
893               3         1.0   7.0000           0           0           1
894               2         0.0   9.6875           0           1           0
895               3         0.0   8.6625           0           0           1
896               3         1.0  12.2875           0           0           1

In [54]:
prediction = model.predict(X_test)

print(prediction.shape)
prediction[:20]

(418,)

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1],
      dtype=int64)

## Submit

In [55]:
import numpy as np
submission = pd.read_csv("./data/titanic_gender_submission.csv", index_col="PassengerId")

submission["Survived"] = prediction.astype(np.int32)

print(submission.shape)
submission.head()

(418, 1)

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 1

In [56]:
submission.to_csv("baseline-script.csv")

###  -------연습장------------

In [57]:
import pandas as pd

train = pd.read_csv("./data/titanic_train.csv", index_col=["PassengerId"])
print(train.shape)
train.head()    #(891, 11)  : 훈련데이터에는 891개의 simple data가 있고, column이 11개가 있다

(891, 11)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [58]:
train.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [59]:
test = pd.read_csv("./data/titanic_test.csv", index_col=["PassengerId"])  #PassengerId를 index로 삼다
# train데이터에 대해 했지만, test 데이터에도 같은 작업을 해주어야 한다.
#예측한 데이터에 prediction은 test 데이터로 해야하기 때문이다
print(test.shape)  
test.head()

(418, 10)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [60]:
test.columns  #train 데이터와 다르게 survive column이 없다
#왜냐하면 test data의 survuve를 맞추는게 문제이기 때문이다

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked'],
      dtype='object')

In [61]:
# 성별을 구분하는 컬럼을 추가해본다

train.loc[train["Sex"] == "male", "Sex_encode"] = 0  #Sex라는 컬럼 값이 male이면 0으로
train.loc[train["Sex"] == "female", "Sex_encode"] = 1  #female이면 1로

print(train.shape)
train[["Sex", "Sex_encode"]].head()

(891, 12)

                Sex  Sex_encode
PassengerId
1              male         0.0
2            female         1.0
3            female         1.0
4            female         1.0
5              male         0.0

In [62]:
test.loc[test["Sex"] == "male", "Sex_encode"] = 0
test.loc[test["Sex"] == "female", "Sex_encode"] = 1
        
print(test.shape)
test[["Sex", "Sex_encode"]].head()

(418, 11)

                Sex  Sex_encode
PassengerId
892            male         0.0
893          female         1.0
894            male         0.0
895            male         0.0
896          female         1.0

In [63]:
test.info()  #빠진 값이 있나 할 때 본다

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      418 non-null    int64
 1   Name        418 non-null    object
 2   Sex         418 non-null    object
 3   Age         332 non-null    float64
 4   SibSp       418 non-null    int64
 5   Parch       418 non-null    int64
 6   Ticket      418 non-null    object
 7   Fare        417 non-null    float64
 8   Cabin       91 non-null     object
 9   Embarked    418 non-null    object
 10  Sex_encode  418 non-null    float64
dtypes: float64(3), int64(3), object(5)
memory usage: 39.2+ KB

In [64]:
train.info()  #빠진 값이 몇 개 있는지 확인 하다

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   Name        891 non-null    object
 3   Sex         891 non-null    object
 4   Age         714 non-null    float64
 5   SibSp       891 non-null    int64
 6   Parch       891 non-null    int64
 7   Ticket      891 non-null    object
 8   Fare        891 non-null    float64
 9   Cabin       204 non-null    object
 10  Embarked    889 non-null    object
 11  Sex_encode  891 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 90.5+ KB

In [65]:
#비오 있는 요금 항목을, 요금의 평균치로 대체한다.
mean_fare = train["Fare"].mean()
print("Fare(Mean) = ${0:.3f}".format(mean_fare))

Fare(Mean) = $32.204

In [66]:
test.loc[pd.isnull(test["Fare"]), "Fare"] = mean_fare  #mean값을 채워넣다
#test.loc[pd.isnull(test["Fare"]): test의 Fare가 null 이냐 True이면 loc 통해 위치를 찾아서, 위치의 값을 mean_fare로 채우다
#, "Fare"]  : 그 이름을 Fare라고 하다

test[pd.isnull(test["Fare"])] #다시 isnull이 있냐고 물으면 -> 없다고 대답할 것이다.

Empty DataFrame
Columns: [Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Sex_encode]
Index: []

In [67]:
print(train.shape)

(891, 12)

In [68]:
train_embarked = pd.get_dummies(train["Embarked"], prefix="Embarked")
#category 함수들을 한꺼번에 dummies로 바꾸어주는 함수가 있다. : get_dummies
print(train_embarked.shape)  # 이런 걸  one-hot-encoding이라 하다
train_embarked.head()

(891, 3)

             Embarked_C  Embarked_Q  Embarked_S
PassengerId
1                     0           0           1
2                     1           0           0
3                     0           0           1
4                     0           0           1
5                     0           0           1

In [69]:
#두개의 데이터를 붙이다. train데이터와 train_embarked 데이터 
train = pd.concat([train, train_embarked], axis=1)  #옆으로 붙일때는 axis=1을 사용하다

print(train.shape)
train[["Embarked", "Embarked_C", "Embarked_Q", "Embarked_S"]].head()

(891, 15)

            Embarked  Embarked_C  Embarked_Q  Embarked_S
PassengerId
1                  S           0           0           1
2                  C           1           0           0
3                  S           0           0           1
4                  S           0           0           1
5                  S           0           0           1

In [70]:
test_embarked = pd.get_dummies(test["Embarked"], prefix="Embarked")

print(test_embarked.shape)
test_embarked.head()

(418, 3)

             Embarked_C  Embarked_Q  Embarked_S
PassengerId
892                   0           1           0
893                   0           0           1
894                   0           1           0
895                   0           0           1
896                   0           0           1

In [71]:

test = pd.concat([test, test_embarked], axis=1) 

print(test.shape)
test[["Embarked", "Embarked_C", "Embarked_Q", "Embarked_S"]].head()

(418, 14)

            Embarked  Embarked_C  Embarked_Q  Embarked_S
PassengerId
892                Q           0           1           0
893                S           0           0           1
894                Q           0           1           0
895                S           0           0           1
896                S           0           0           1

In [72]:
#우리는 주어진 데이터를 다 쓰지 않고, 아래에 있는 이정도만 써서 해보겠다
feature_names = ["Pclass", "Sex_encode", "Fare",
                "Embarked_C", "Embarked_Q", "Embarked_S"]
#Class는 뭔지, 성별이 뭔지, 요금이 어떤지, 어느항구에서 탔는지
X_train = train[feature_names]
#train에서 feature_names만 뽑아내서 X_train이라 하다
print(X_train.shape)
X_train.head()

(891, 6)

             Pclass  Sex_encode     Fare  Embarked_C  Embarked_Q  Embarked_S
PassengerId
1                 3         0.0   7.2500           0           0           1
2                 1         1.0  71.2833           1           0           0
3                 3         1.0   7.9250           0           0           1
4                 1         1.0  53.1000           0           0           1
5                 3         0.0   8.0500           0           0           1

In [73]:
label_name = "Survived"

y_train = train[label_name]

print(y_train.shape)
y_train.head()

(891,)

PassengerId
1    0
2    1
3    1
4    1
5    0
Name: Survived, dtype: int64

In [74]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=5)  #생성자를 만들다, 편의상 5번까지만 의사결정 하라고 하다

In [75]:
model.fit(X_train, y_train) #모델을 훈련시키다

DecisionTreeClassifier(max_depth=5)

In [76]:
from sklearn.tree import export_graphviz
import graphviz

export_graphviz(model,
               feature_names=feature_names,
               class_names=["Perish","Survived"],
               out_file="decision-tree.dot")

with open("decision-tree.dot") as f:
    dot_graph = f.read()
    
graphviz.Source(dot_graph)

#의사결정나무 그림이 나오다

ExecutableNotFound: failed to execute ['dot', '-Kdot', '-Tsvg'], make sure the Graphviz executables are on your systems' PATH

In [77]:
X_test = test[feature_names]

print(X_test.shape)
X_test.head()

(418, 6)

             Pclass  Sex_encode     Fare  Embarked_C  Embarked_Q  Embarked_S
PassengerId
892               3         0.0   7.8292           0           1           0
893               3         1.0   7.0000           0           0           1
894               2         0.0   9.6875           0           1           0
895               3         0.0   8.6625           0           0           1
896               3         1.0  12.2875           0           0           1

In [78]:
#모델을 predict 하다, 이사람은 살았을까, 죽었을까 predict하다
prediction = model.predict(X_test)

print(prediction.shape)
prediction[:20]


#array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1] 
# : 0은 사망했을 꺼라 예측한 것이고, 1은 생존했을꺼라 예측한 것이다.

(418,)

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1],
      dtype=int64)

In [79]:
import numpy as np 
submission = pd.read_csv("./data/titanic_gender_submission.csv", index_col="PassengerId")
#submission : 제출양식, 

submission["Survived"] = prediction.astype(np.int32)
#추가 하다. Survived를  아까 구한 prediction을 int로 바꿔서
print(submission.shape) #submission의 모양을 보다
submission.head()

(418, 1)

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 1

In [82]:
submission.to_csv("baseline-script.csv")  
#파일 형태로 제출, 파일로 저장할때 to_csv라는 함수가 있다.
#to_csv는 csv를 읽는 것의 반대이다.

In [83]:
from sklearn.tree import DescisionTreeRegressor
from sklearn.linear_model import LinearRegression

tree= DecisionTreeRegressor().fit(X_train, y_train)
linear_reg = LinearRegression().fit(X_train, y_train)

ImportError: cannot import name 'DescisionTreeRegressor' from 'sklearn.tree' (C:\ProgramData\Anaconda3\lib\site-packages\sklearn\tree\__init__.py)