<a href="https://colab.research.google.com/github/forestinblue/University-Lecture-DataScience/blob/main/Understanding_and_Using_Python/SkeletonCode_Report1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **본 노트북 파일은 '파이썬이해와활용' 과제1에 대한 skeleton code 입니다.**

문제1. 시험 점수를 입력 받으면 성적을 출력하는 코드를 완성하시오.  

- 시험 점수가 90 이상이면 성적 A  
- 시험 점수가 80 이상 90 미만이면 성적 B  
- 시험 점수가 70 이상 80 미만이면 성적 C  
- 시험 점수가 60 이상 70 미만이면 성적 D  
- 시험 점수가 60 미만이면 F  
(점수는 함수의 입력으로 주어짐)

---


함수 호출 예1)  

grade = check_score(70)  

print("성적 : ", grade)  
<br/>
  
출력 결과 예1)  

성적 : C  


---


함수 호출 예2)  

grade = check_score(97)  

print("성적 : ", grade) 

<br/> 
  
출력 결과 예2)  

성적 : A

In [ ]:
def check_score(score):
    
    grade = 'F'
    ### Modify code here ###
    if score >= 90:
        grade = 'A'
    elif score >= 80:
        grade = 'B'
    elif score >= 70:
        grade = 'C'
    elif score >= 60:
        grade = 'D'
    else:
        grade = 'F'

    ### End of your code ###
    return grade

grade = check_score(85)
print("성적 : ", grade)

성적 :  B

문제 2. n과 data를 입력 받으면 "오늘은 10월 date일 입니다."를 n번 출력하는 코드를 완성하시오.

이때, data가 0이하 그리고 32 이상이라면 "data를 다시 입력해주세요."를 출력하시오.

---

함수 호출 예1)

today(5, 10)

<br/>

출력 결과 예1)

오늘은 10월 10일 입니다.

오늘은 10월 10일 입니다.

오늘은 10월 10일 입니다.

오늘은 10월 10일 입니다.

오늘은 10월 10일 입니다.

---
함수 호출 예2)

today(3, 2)

<br/>

출력 결과 예2)

오늘은 10월 2일 입니다.

오늘은 10월 2일 입니다.

오늘은 10월 2일 입니다.

---
함수 호출 예3)

today(4, -5)

<br/>

출력 결과 예3)

data를 다시 입력해주세요.

In [ ]:
def today(n, date):
    #### Modify code here ####
    if date >= 1 and date <= 31:
        for i in range (n):
            print("오늘은 10월 {}일입니다".format(date))
    else:
        print("data를 다시 입력해주세요")
        
    

    
    #### End of the code ####

today(5, 10)

오늘은 10월 10일입니다
오늘은 10월 10일입니다
오늘은 10월 10일입니다
오늘은 10월 10일입니다
오늘은 10월 10일입니다

문제 3. 두 정수, a와 b를 입력 받으면 a와 b의 합, 차, 평균을 구하시오.

(참고 1: 차는 큰 수에서 작은 수를 빼도록 구현하시오.)

(참고 2: 소수점 발생 시, 소수점 첫째 자리에서 반올림 하십시오.)

---

함수 호출 예1)

print( "sum = ", sum(41,8),  " sub = ",  sub(53,15) ,  " average = ", average(53,432) )

<br/>

출력 결과 예1)

sum =  49 sub =  38 average =  243

---

함수 호출 예2)

print( "sum = ", sum(14,8),  " sub = ",  sub(23,15) ,  " average = ", average(53,43) )

<br/>

출력 결과 예2)

sum =  22 sub =  8 average =  48

In [ ]:
def sum(a,b):
    sum = a + b
    #### Modify code here ####
    sum = round(sum)
    

    
    #### End of the code ####
    return sum

def sub(a,b):
    sub = abs(a-b)
    sub = round(sub)
    #### Modify code here ####
    

    
    #### End of the code ####
    return sub

def average(a,b):
    average = round((a+b)/2)
    #### Modify code here ####
    

    
    #### End of the code ####
    return average

print( "sum = ", sum(41,8),  " sub = ",  sub(53,15) ,  " average = ", average(53,432) )

sum =  49  sub =  38  average =  242

문제 4. 크기가 1 이상인 정수 n을 입력 받은 수 n의 크기만큼 "*"을 출력하고

n이 5 이하이면 "Under or Equal 5"

n이 5 초과이면서 10 이하이면 "5 and 10"

n이 10 초과이면 "Over 10"을 출력하시오.

(참고: "*" 출력 후 줄바꿈이 들어가야합니다.)

---

함수 호출 예1)

fiveTen(3)

<br/>

출력 결과 예1)


*

*

*

Under or Equal 5

---

함수 호출 예2)

fiveTen(7)

<br/>

출력 결과 예2)


*

*

*

*

*

*

*

5 and 10

---

함수 호출 예3)

fiveTen(11)

<br/>

출력 결과 예3)


*

*

*

*

*

*

*

*

*

*

*

Over 10

In [ ]:
def fiveTen(n):
    #### Modify code here ####
    if n >= 1:
        for i in range(n):
            print('*\n')
    if n <= 5:
        print("Under or Equal 5")
    elif n <= 10:
        print("5 and 10")
    else:
        print("Over 10")

    

    
    #### End of the code ####
            
fiveTen(10)

*

*

*

*

*

*

*

*

*

*

5 and 10

문제 5. 가변인자 *를 사용하여 최소 3가지 이상의 과일을 입력받아, 입력 받은 과일을 출력하시오.

만약 입력받은 과일 중 "apple"이 있다면 "apple" 출력 후 "RED"를 출력하시오.

---

함수 호출 예1)

fruit("banna", "apple", "watermelon")

<br/>

출력 결과 예1)

banna

apple

RED

watermelon

---

함수 호출 예2)

fruit("grapes", "pear", "mango")

<br/>

출력 결과 예2)

grapes

pear

mango

In [ ]:
def fruit(*name):
    #### Modify code here ####
    for i in name :
        print(i)
        if i == "apple" :
            print("RED")

    

    
    #### End of the code ####
            
fruit("banna", "apple", "watermelon")

banna
apple
RED
watermelon